@import "~font-awesome/css/font-awesome.css";

body {
    background: #FAFAFA;
    margin: 0;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif !important;
}

.center-text {
    text-align: center;
}

.container {
    width: 100%;
    height: calc(80vh - 64px);
    display: flex;
}

.center-vertically {
    margin: auto;
}
