
body {
    background: #1D8CE0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
}

.center-text {
    text-align: center;
}

.color-white {
    color: white;
}

.container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 90vh;
    display: flex;
}

.center-vertically {
    margin: auto;
}