@import "~font-awesome/css/font-awesome.css";

body {
    margin: 0;
    background: #FAFAFA;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif !important;
}

#main {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.wrapper {
    padding: 30px 10px 50px;
    overflow-y: auto;
    flex-grow: 4;
    display: flex;
}

.center-vertically {
    margin: auto;
}

.page {
    margin: 0 auto;
    width: 80vw;
}
